{% extends "base.html" %}
{% block content %}

<script src='../static/js/about_script.js' type='text/javascript'></script>
<link href='../static/css/about_style.css' type='text/css' rel='stylesheet'/>

<div class='row'>
	<div class='col-sm-3'></div>
	<div class='col-sm-6 about'>
		<div class='section'>
			<h3>What is TweetRater?</h3>
			<p>TweetRater is a personal machine learning project in which an algorithm classifies tweets as either inoffensive, offensive, or hate speech. You can test out and <a href="/tweetrater/">experiment with</a> the algorithm yourself as well as <a href="/challenge/">challenge it to a duel</a> to see who can classify tweets more accurately.
			</p>
		</div>

		<div class='section'>
			<h3>Where did the data come from?</h3>
			<p>As with all supervised machine learning problems, the algorithm requires a set of pre-labeled data to learn from. In this case, a <a href="https://data.world/crowdflower/hate-speech-identification/" target="_blank">collection of 14,000 tweets</a> compiled by CrowdFlower served as the training set. For each tweet, a panel of at least three judges rated the tweet as either inoffensive, offensive, or hate speech, and the most votes in favor of a particular classification determined the final rating. Unfortunately, how ties are broken is not revealed.</p>
			<p>Hate speech is distinguished from offensive speech in that the former is used to express hatred towards or humiliate a targeted group and its members. However, because the tweet labeling was crowdsourced, this criteria was applied inconsistently, which you can examine yourself in the <a href="/challenge/">challenge</a>.</p>
		</div>

		<div class='section'>
			<h3>How does the algorithm work?</h3>
			<p>TweetRater is driven by two neural network architectures. The first, Word2Vec, employs the skip-gram method of converting each word into a numerical vector of pre-determined size. The motivating idea is that the semantic meaning of a word can be approximated by its context, the surrounding words in the immediate neighborhood of the word in question. Thus, different words with similar contexts will be represented by similar vectors.</p>
			<p> If a word can be represented by a vector of constant size, then a sequence of words can be represented by a matrix, much like an image. The second architecture, a convolutional neural network, is more commonly employed for image classification tasks, but because word sequences can be represented as matrices, convolutional networks have proven effective for text classification as well. With a 3-class test classification accuracy of 80%, 2-class accuracy of 92% (where offensive and hate speech are considered one category), and a 2-class AUC score of 0.923, TweetRater's convolutional neural network outperforms the popular Naive Bayes with inverse document frequency model as well as a number of <a href="http://gfleetwood.github.io/hate-speech/" target="_blank">other</a> <a href="https://github.com/mgupta011235/TweetSafe" target="_blank">methods</a>.</p>
		</div>
	</div>
	<div class='col-sm-3'></div>
</div>



{% endblock %}