<!DOCTYPE html>
<html>
	<head>
		<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
		<script src='../static/ajax_script.js' type='text/javascript'></script>
		<script type=text/javascript>
  			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  			//alert($SCRIPT_ROOT)
		</script>
	</head>
	<body>
		<form method='get'>
			Enter some text:
			<input type='text' name='entry' placeholder='Hello world!'/>
			<button id='submit'>SUBMIT</button>
			<button id='clear'>CLEAR</button>
		</form>
		<div class='messages'>
		</div>
	</body>
</html>