<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
		<script src='../static/test_tweetrater_script.js' type='text/javascript'></script>
	</head>
	<body>
		<form method='get'>
			Enter a tweet: 
			<input type='text' name='tweet' placeholder='Limit: 140 characters' maxlength='140' size='140'/>
			<button id='submit'>SUBMIT</button>
			<button id='clear'>CLEAR</button>
		</form>
		<div class='results'>
		</div>
	</body>
</html>